
.car-cus-prev-2 {
	left: 89% !important;
	bottom: 5% !important;
}
.car-cus-next-2 {
	right: 2% !important;
	bottom: 5% !important;
}
.car-cus-prev-2 , .car-cus-next-2 {
	top: 85%;
	width: 5%;	
}
.cus-car-ind {
right: 80%;
bottom: 60%;
left: auto;
display: block;

}
.cus-car-ind [data-bs-target] {
    width: 15px;
    height: 15px;   
}

.crsl{
	margin-bottom: 50px;
}
.tlt-1{
	margin: 100px 0;

}
.mg-l1{
	margin-left: 50px;
	margin-right: 50px;
}
.md-container {
	margin-bottom: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.banner{
	background-image: url(../img/ocean.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 40px;
	
}
.slider{
	background-color: rgba(1, 1, 1, .7);
	color: white;
	padding: 70px;
}
.slider h1{
font-size: 30;
margin-bottom: 30px;
margin-top: 30px;
}
.slider p{
font-size: 20;
margin-bottom: 30px;
}
.slider button{
margin-bottom: 100px;
}
.ind-1 {
	bottom: 40px;
}
.ind-1 [data-bs-target] {
    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}